*{
  margin: 0 ;
  padding: 0 ;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header{
  width: 100% ;
  min-height: 50vh ;
  background-image: linear-gradient(rgba(0 , 0 , 25 , 0.65) , rgba(0 , 0,25,0.65)) , url('../images/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.logo{
  width: 160px ;
}

nav{
  display: flex;
  justify-content: space-between;
  padding: 1.5% 5% ;
  align-items: center;
  text-align: center;
}

.nav_links{
  flex : 1 ;
  text-align: right;
}

.nav_links ul li{
  list-style: none;
  padding: 8px 15px ;
  display: inline-block;
}

.nav_links ul li a{
  color: white ;
  text-decoration:none;
  text-transform: uppercase;
  font-size: 15px ;
}

.nav_links ul li a::after{
  content: '' ;
  width: 0% ;
  height: 2px ;
  background-color: #f44336 ;
  display: block ;
  margin: auto;
  transition: 0.5s ;
}

.nav_links ul li a:hover::after{
  width: 100% ;
}

.content{
  width: 100% ;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  text-align: center;
  color: white ;
}

.main_head{
  font-size: 2rem ;
  margin-bottom: 15px ;
}

.fun{
  display: none ;
  width: 20px ;
}

@media (max-width : 500px) {
  .logo{
    width: 130px ;
    margin-top: 10px ;
  }

  .nav_links{
    position: absolute;
    width: 200px ;
    background-color:  #f44336 ;
    height: 100vh ;
    top: 0 ;
    right: -200px ;
    z-index: 2 ;
    transition: 0.5s ;
  }

  .fun{
    display: block ;
    margin: 12px ;
  }

  .nav_links ul li{
    display: block ;
    text-align: left ;
  }

  .nav_links ul{
    padding: 20px ;
  }

  .main_head{
    font-size: 1.5rem ;
  }

}

/* Courses */

.courses{
  width: 90% ;
  min-height: 60vh ;
  text-align: center;
  align-items: center;
  padding-top: 100px ;
  margin: auto;
}

.course_row{
  display: flex ;
  margin-top: 15px ;
  justify-content: space-between;
}

.course_col{
  flex-basis: 32% ;
  background-color: #fbf9e6;
  border-radius: 10px ;
  padding: 15px 25px  ;
  margin: 10px ;
  transition: 0.5s ;
}

.course_col h3{
  margin-top: 10px ;
}

.course_col p{
  font-size: 0.9rem ;
}

.main_head{
  font-size: 2rem ;
  margin-bottom: 15px ;
}

.courses p{
  color : grey ;
}
.course_col:hover{
  box-shadow: 1.5px 1.5px 1.5px 3px #d6d4d4  ;
}
@media (max-width : 500px) {
  .course_row{
    flex-direction: column;
  }
}

/* Facility */

.facility{
  width: 100% ;
  min-height: 70vh ;
  text-align: center;
  margin: auto;
  padding: 60px 0 15px 0;
  overflow: hidden;
}

.facility p{
  color : grey ;
}

.facility_col{
  flex-basis: 32% ;
  margin-bottom: 50px ;
}

.facility_col img{
  width: 100% ;
  border-radius: 10px ;
  transition: 0.5s ;
}

.facility_col h3{
  text-align: left;
  margin: 10px 0 ;
}

.facility_col p{
  text-align: left;
}

.facility_col img:hover{
  transform: scale(1.09);
}

.facility_row{
  display: flex ;
  margin-top: 15px ;
  justify-content: space-between;
  padding: 50px 50px 0 50px;
}

@media (max-width : 500px) {
  .facility_row{
    flex-direction: column;
  }
}

/* Footer */

footer{
  width: 60% ;
  height: 32vh ;
  color: black ;
  margin: 4rem auto 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social_media{
  display: flex;
  justify-content: center;
}

.social_media a img{
  height: 17px;
}

.social_media a{
  padding: 20px ;
  margin-bottom: 10px ;
}

footer h3{
  margin-bottom: 2rem ;
}

footer p{
  color : grey ;
  font-size: 0.9rem ;
  margin-bottom: 1.2rem ;
}

@media (max-width : 500px) {
  footer{
    width: 85% ;
  }
}
